
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Oswald&family=Rowdies:wght@300&display=swap');


.thumbnail {background-color: rgb(57, 129, 117);}

      .pp{background-color: rgb(234, 104, 48);}

           .dd{background-color:rgb(131, 7, 125) ;}

                  .lp{background-color:rgb(178, 104, 48);}

                      .df{background-color:rgb(178, 104, 48) ;}
                       
                         .gh{background-color: lightslategrey;}

 body {margin-top: 85px;}

 .container {  
      margin: auto;
      width: 75%;
      border: 4px solid blueviolet;
      padding: 20px;}

 .img.main {  
     width: 30%;  
     margin-left: auto;
     margin-right: auto;
     display: block;
     border-radius: 50%; }

       h1 { 
            text-align:center;
            font-family:Rowdies; }
       
        h2 { text-align:center;}

          h3 { 
            text-align:center;
            font-family: oswald;
        }
        p { 
             font-family:KoHo;
             text-align:center;
        }
        
     cite { 
        font-family: oswald;
     }    

 button{

     color: #fff;
     padding: 8px 22px;
     border-radius: 6px;
     background: #7d2ae8;
     transition: all 0.2s ease; }

h5 {
    color:#333;
    font-size: 32px;
    font-weight: 500;
}

section { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    }

    section::before { 
       content:"";
       background-image: conic-gradient(#000000, #707070, #2d455c, #e5ff00ae );
       position: absolute;
       height: 1500px;
       width: 1500px;
       animation: rotate 10s linear infinite;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        
        
    }
}

     input {

    display: none;

     }

     label {

        height: 100px;
        width: 150px;
        border-radius: 6px;
        border: 1px dashed rgb(0, 0, 0);
     }

     label:hover {

        color: #de0611;
        border: 1px dashed #de0611;
     }
    {let otp = generateOTP();

      console.log(otp);}
